@import "../../../styles/foundation.scss";

.container {
  height: 28px;
  max-width: 100%;

  display: flex;
  align-items: center;

  line-height: unset;

  padding: 3px 5px;

  border: $defaultBorder solid $neutral600;
  border-radius: $borderRadius;

  cursor: pointer;

  & > span {
    max-width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: $neutral600;
  }
}
