@import "../../../styles/foundation.scss";

.container {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;

    padding-left: 16px;

    span {
        color: $neutral700;
    }
}
