@import "../../../styles/foundation.scss";

.container {
  width: 100%;

  display: grid;
  grid-template: 123px / 7.06401766% 71.96467991% 9.271523179% 11.69977925%;

  border-top: $defaultBorder solid $neutral300;

  &:hover {
    background-color: $neutral200;

    .container__checkboxWrapper {
      visibility: visible;
    }

    .container__optionWrapper {
      visibility: visible;
    }
  }

  &__clickable {
    cursor: pointer;

    display: grid;
    grid-template: 100% / 16.56441718% 32.05521472% 51.3803681%;

    &__imgWrapper {
      height: 100%;
      width: 100%;

      display: flex;

      img {
        margin: 8px auto;
      }
    }

    &__nameWrapper {
      display: flex;
      align-items: center;
      padding-left: 56px;

      & > span {
        color: $neutral800;
      }
    }

    &__tagListWrapper {
      display: flex;
      align-items: center;
      padding-left: 16px;
    }
  }

  &__checkboxWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    &__visible {
      visibility: visible;
    }

    &__hidden {
      visibility: hidden;
    }
  }

  &__toggleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 24px;
      width: 36px;
    }
  }

  &__optionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 17px;

    visibility: hidden;
  }
}
