@import "../../../styles/foundation.scss";

.container {
    display: grid;
    place-items: center;

    min-height: 40px;

    padding: 9px 12px;
    border-radius: $borderRadius;

    cursor: pointer;
    background-color: $neutral800;
    color: $neutral0;

    &:hover {
        background-color: $neutral900;
    }
}
