@import "../../styles/foundation.scss";

.ground {
    height: 100%;

    flex: 1;

    display: flex;
    justify-content: center;

    padding-top: 44px;

    background-color: $neutral100;

    overflow-y: auto;

    &__centred {
        position: relative;
        width: $contentContainerWidth;

        .btnContainer {
            position: absolute;
            left: -16px;

            transform: translateX(-100%);
        }

        &__header {
            display: flex;
            align-items: center;

            margin-bottom: 16px;

            span {
                color: $neutral900;
            }
        }

        &__container {
            width: 100%;

            border: $defaultBorder solid $neutral300;
            border-radius: $borderRadius;

            background-color: $neutral0;
        }
    }
}
