@import "../../../styles/foundation.scss";

.container {
    &__header {
        color: $neutral900;
    }
    &__contentList {
        margin-top: 20px;
        margin-bottom: 28px;

        & > :not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
