@import "../../../styles/foundation.scss";

.container {
    &__header {
        color: $neutral900;
    }

    &__description {
        margin-top: 20px;
        margin-bottom: 28px;

        & > :first-child {
            margin-bottom: 8px;
        }
    }
}
