@import "../../styles/foundation.scss";

.container {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 244px;

    border-right: $defaultBorder solid $neutral300;
    background-color: $neutral0;

    transition: width $tranzition150, height $tranzition150;

    & > i {
        margin-top: 27px;

        transition: margin $tranzition150;

        svg {
            transition: width $tranzition150, height $tranzition150;
        }
    }

    &__imgContainer {
        display: flex;

        height: 94px;
        width: 94px;

        margin-top: 63px;
        margin-bottom: 12px;

        transition: width $tranzition150, height $tranzition150,
            margin $tranzition150;

        & > img {
            max-width: 100%;
            max-height: 100%;

            border-radius: 50%;

            // margin: auto;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;

        align-items: center;
        margin-bottom: 24px;

        &__name {
            color: $neutral800;
        }

        &__mail {
            color: $neutral700;
        }
    }
}

@media only screen and (max-width: $screenChangeMenu) {
    .container {
        width: $minMenuWidth;

        & > i {
            margin-top: 14px;

            svg {
                height: 36px;
                width: 36px;
            }
        }

        &__imgContainer {
            height: 40px;
            width: 40px;

            margin-top: 82px;
            margin-bottom: 28px;
        }

        &__description {
            display: none;

            transition: display $tranzition150;
        }
    }
}
