@import "../../styles/foundation.scss";

.container {
    padding: 44px 54px 64px;

    & > hr {
        margin-top: 30px;
        margin-bottom: 32px;
        border: 1px solid $neutral300;
    }

    &__tagLists {
        & > :not(:last-child) {
            margin-bottom: 32px;
        }
    }
}
