@import "../../../styles/foundation.scss";

$height: 48px;

.container {
    position: relative;
    width: 100%;
    height: $height;

    display: flex;

    align-items: center;

    background-color: white;

    &:hover {
        background-color: $neutral200;

        svg {
            & > * {
                fill: $neutral900;
            }
        }

        & > span {
            color: $neutral900;
        }
    }

    i {
        margin-left: 20px;
    }

    & > span {
        height: 22px;
        margin-left: 16px;

        color: $neutral700;

        transition: display $tranzition150;
        overflow: hidden;
    }

    svg {
        & > * {
            fill: $neutral700;
        }
    }

    &__focused {
        width: 4px;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background-color: $blue50;
    }

    &__description {
        height: 29px;

        visibility: hidden;

        position: absolute;
        left: $minMenuWidth + 4;

        display: flex;
        align-items: center;

        padding: 0 6px;

        border-radius: $borderRadius;
        background-color: rgba($color: $neutral900, $alpha: 0.85);

        & > span {
            white-space: nowrap;
            color: $neutral0;
        }
    }
}

@media only screen and (max-width: $screenChangeMenu) {
    .container {
        & > span {
            display: none;
        }

        &:hover {
            .container__description {
                visibility: visible;
            }
        }
    }
}
