@import "../../../styles/foundation.scss";

.container {
    height: 200px;
    width: 100%;

    &__tagList {
        display: flex;

        flex-wrap: wrap;
        gap: 12px;

        align-items: center;
    }

    & > span {
        color: $neutral900;
    }

    & > div {
        margin-top: 16px;
    }

    & > :not(:last-child) {
        margin-bottom: 32px;
    }
}
